# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
*.log
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
.cache/

# Container artifacts
.acr.digest
.ghcr.digest

# Helm
*.tgz
